name: Python package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python3 -m pip install coverage
          pip install names
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Test and coverage report with unittest
        run: |
          coverage run Tests.py
          # exit 1 if coverage is under 75%
          coverage report --fail-under=75 --show-missing
          # takes exit status of previous line - exits workflow if coverage failed
          # this way, the image is not pushed to Docker
          if [ $? -ne 0 ]; then
            exit 1
          fi
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOKCERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/cs333-contract:latest
